/* Include Foundation */

@import '../node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;

body {
    color: black;
    font-family: Quicksand;

    .hidden {
        display: none;
    }

}

.top {
    background-image: url('http://3.bp.blogspot.com/-MwkOZWd-24Q/T0k_G-9TYNI/AAAAAAAAA0c/riTaLZk1MT4/s1600/Van+Gogh+Red+.jpg');
    // background-color: #638696;
    padding: 20px;
}

h1 {
    color: white;
    font-size: 3em;
    text-align: center;
    margin-top: 0px;
    border-bottom: 1px solid white;
}


.movielist {
    @include grid-row();
    margin-top: 40px;
    width: 65%;

    input {
        @include grid-column(6);
        text-align: center;
        padding: 5px;
        // margin: 3px;
    }

}

    .add {
        @include button;
        display: block;
        margin: 0 auto;
        margin-top: 20px;
    }

ul {
    @include grid-row();
    list-style-type: none;
    padding: 0px;

    li {
        @include grid-column(6);
        @include grid-row();
        // background-color: #af8887;
        border-bottom: 1px dotted black;
        padding: 30px;
        // margin-top: 30px;
        height: 550px;
        
        p {
            text-align: center;
            font-size: .9em;
        }



        img {
            width: 12%;
            display: block;
            margin: 0 auto;
            padding: 5px;

        }

        .poster {
            width: 30%;
        }

        .title {
            font-size: 1.5em;
        }

        .overview {
            font-size: .8em;
        }

        .fa {
            color: black;
        }

        .rate {
            @include grid-row(5);
            width: 30%;
            
            button {
                @include grid-column(1);
                border-radius: 8px;
                padding: 0px;
                margin: 0px;

                .green {
                    background-color: green;
                }
            }
        }
  
    }


}